/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 30px;
}

header a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

header a:hover{
    color: #bea6eb;
    transition: 0.5s;
}

#link-start{
    font-weight: 900;
}

/* IMG */

#img-div p{
    color: white;
    text-align: center;
    margin: 0 30px;
}

#img-div img{
    width: 200px;
    height: 300px;
    display: block;
    margin: 100px auto;
    border-radius: 50px;
    filter: drop-shadow(10px 0 30px white);
    transition: 0.5s;
}

#img-div img:hover{
    filter: drop-shadow(10px 0 30px #bea6eb);
    transition: 0.5s;
}

/* Articles */

#articles div{
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 20px;
    transition: 0.5s;
}

#articles div:hover{
    filter: drop-shadow(5px 0 15px #bea6eb);
    transition: 0.5s;
    transform: scale(0.95,0.95);
    color: #bea6eb;
}

/* Contact box */

#contact-box{
    display: block;
    text-align: center;
    margin: 150px auto;
    padding: 15px;
}

#contact-box h3{
    color: #bea6eb;
    font-size: 30px;
    margin-top: 20px;
}

#contact-box a{
    color: white;
    font-size: 20px;
}

#contact-box p{
    color: white;
    font-size: 20px;
}

.col-eg-1 {width: 8.33%;}
.col-eg-2 {width: 16.66%;}
.col-eg-3 {width: 25%;}
.col-eg-4 {width: 33.33%;}
.col-eg-5 {width: 41.66%;}
.col-eg-6 {width: 50%;}
.col-eg-7 {width: 58.33%;}
.col-eg-8 {width: 66.66%;}
.col-eg-9 {width: 75%;}
.col-eg-10 {width: 83.33%;}
.col-eg-11 {width: 91.66%;}
.col-eg-12 {width: 100%;}